@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center container-fluid block-containers-bg-colours">
    <h1 class="display-4">Become a Grillionaire Now!</h1>
    <button type="button" class="btn btn-primary">Order Now!</button>
</div>
