@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid m-0 p-0">
    <img src="~/images/burgerImages/3-burgers-image.jpeg" alt="3 separate meals on wood platters" class="d-block w-100 img-fluid"/>    
</div>
